.Background	{
			background:url('JohnLennon.jpg') no-repeat center fixed;
			background-size:cover;
		}
img {
	max-height:100%;
	max-width:100%;
	}
.Header{
		background:rgba(170,191,212,.3); 
		position:absolute; 
		height:15%; 
		width:100%; 
		top:0%; 
		left:0%; 
		color:white;
	}		
.Menu {
		position:absolute;
		top:80%; 
		left:50%;
		width:50%;
		margin-left:-260px;
		font-family:'Times New Roman', serif;
		opacity:0;
		background:transparent;
	}
.Name{
		position:absolute;
		top:50%; 
		left:50%;
		width:400px;
		margin-left:-200px;
		opacity:0;
		font-size:350%; 
		font-family:Brush Script MT, cursive;
		background:transparent;
	}
.MenuButtons{
		color:white; 
		padding:1;
		border: none; 
		outline:none;
		border-radius:25px;
		font-size:x-large;
		background-color:transparent;
		font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
		transition: all .5s ease 0s;
		
		}


.MenuButtons:hover {
		background:black;
	}
.Body{
		position:absolute; 
		top:15%; 
		left:0%;
		background:rgba(170,191,212,.4);
		width:100%;
		height:85%;
		color:white;
		overflow:auto;
		
	}
.Space {
		padding:25px;
		width:.1%;
	}
	
.ChapButtons{
		color:white; 
		border: none; 
		outline:none;
		border-radius:25px;
		font-size:xx-large;
		background:rgba(0,0,0,.6);
		font-family: 'Times New Roman', serif;
		transition: all .4s ease 0s;
		white-space:nowrap;
		font-weight:bolder;
		
	}

.ChapButtons:hover{
	background:rgba(0,0,0,1);
	color:white;
	border-radius:60%;
	}
	
.HWbuttons{
		color:black; 
		border: none; 
		outline:none;
		border-radius:25px;
		font-size:large;
		background:rgba(255,255,255,.5);
		font-family: 'Times New Roman', serif;
		transition: all .4s ease 0s;
		font-weight:bold;
	
	}	
	
.HWbuttons:hover{
	background:rgba(255,255,255,1);
	border-radius:60%;
	color:black;
	
	}
.Slides{
	text-align:left; 
	display:none; 
	font-size:x-large; 
	height:100%; 
	overflow:hidden; 
	border-radius:25px;
	white-space: normal;
	background:rgba(0,0,0,.6);
	}
	
.innerSlides{
	text-align:left; 
	display:none; 
	font-size:x-large; 
	height:100%; 
	overflow:hidden; 
	border-radius:25px;
	white-space: normal;
    background:transparent;
	}
	
	
.SidePanel {
		color:white;
		background:transparent;			
		width:15%; 
		height:100%;
		float:left;

	}
	
.Hobbies{
	position:absolute; 
	top:23%;
	left:4%; 
	width:10%;
	border-radius:5px; 
	text-decoration:underline;
	}
	
h4 {
		color:white; 
		border: none; 
		outline:none;
		border-radius:40%;
		background:rgba(0,0,0,.6);
		width:70%;
		font-family:georgia, serif;
			font-size:18px;
		   font-weight:bold;
		   line-height:125%;
		   text-align:center;
		   padding:3px;
		
		
	}
h5 {
		color:white; 
		border: none; 
		outline:none;
		border-radius:50%;
		background:rgba(0,0,0,.6);
		width:95%;
        font-family:georgia,serif;
		 font-size:14px;
		 font-weight:normal;
		 line-height:150%;
		 padding:0px; 
	}
	
h3	{
		color:white; 
		border: none; 
		outline:none;
		border-radius:15px;
		background:rgba(0,0,0,.6);
		font-family: 'Droid serif', serif;
		padding:3px;

	}
	
	p{
		color:white; 
		border: none; 
		outline:none;
		border-radius:15px;
		background:rgba(0,0,0,.6);
		width:75%;
		font-family: 'Droid Sans', cursive;
		 font-size:20px;
		 font-weight:normal;
		 line-height:150%;
		 padding:5px;
	}

a {
		padding: 15px 30px;
		outline:none; 
		font-size:large; 
		font-family:georgia,serif;
		text-decoration:none; 
		background:rgba(0,0,0,.6); 
		color:white; 
		border-radius:25px;	
		transition: all .4s ease 0s;		
	}
a:hover{
	background:rgba(255,255,255,.6);
	border-radius:60%;
	color:black;
	}
	
dt {
	font-weight:bold;
	font-family: 'Droid Sans', serif;
	}
dd{
	font-style:normal;
	font-size:large;
	font-family: 'Droid Sans', cursive;
}
ul {
	font-style:italic;
}